*{
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    text-decoration: none;
}

*::after, *::before{
    box-sizing: border-box;
}

/* :root{
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 6px;
    --foreground: #333;
    --background: white;
    --hamburger-margin: 5px;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(var(--hamburger-gap) * 2));
}

.burgermenu{
    --x-width: calc(var(--hamburger-height) * 1.41421356237);

    display: flex;
    flex-direction: column;
    gap:  var(--hamburger-gap);
    width: max-content;
    position: relative;
    top: var(--hamburger-margin);
    left: var(--hamburger-margin);
    z-index: 2;
    cursor: pointer;
}

.burgermenu::before, 
.burgermenu::after, 
.burgermenu input{
    content: "";
    width: var(--bar-width);
    height: var(--bar-height);
    background-color: var(--foreground);
    border-radius: 9999px;
    transform-origin: left center;
    transition: opacity var(--animation-timing), width var(--animation-timing);
}

.burgermenu input{
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
     /* pointer-events: none; */
}
/*
.burgermenu input:checked{
    opacity: 0;
    width: 1;
}

.burgermenu:has(input:checked)::before{
    rotate: 45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
}

.burgermenu:has(input:checked)::after{
    rotate: -45deg;
    width: var(--x-width);
    translate: 0 calc(var(--bar-height) / 2);
} */







body{
    margin: 0;
    background-image: url(picture/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;

}

header{
    background-color: rgba(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
}




/* .header{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
} */
